<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th class="th-sm">#
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Siren
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Code APE
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Nom de l'entreprise
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Région
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Département
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      </th>
      <th class="th-sm">Chiffre d'affaires 2016
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Chiffre d'affaires 2017
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Effectifs 2016
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Effectifs 2017
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      </th>
      <th class="th-sm">Actions
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
    </tr>
  </thead>

  <tbody>
    {{#each displayResults}}
    <tr>
      <th scope="row">1</th>
      <td>{{fields.siren}}</td>
      <td>{{fields.code_ape}}</td>
      <td>{{fields.denomination}}</td>
      <td>{{fields.region}}</td>
      <td>{{fields.num_dept}}</td>
      <td>{{fields.ca_2}}</td>
      <td>{{fields.ca_1}}</td>
      <td>{{fields.effectif_2}}</td>
      <td>{{fields.effectif_1}}</td>
      <td><a target="_BLANK" class="btn btn-social-icon btn-google" href="https://www.google.com/search?q={{fields.denomination}}">
        {{!-- <a target="_BLANK" class="btn btn-social-icon btn-linkedin"
        href="{{fields.fiche_identite}}"><span class="fa fa-linkedin"></span></a> --}}
        <span class="fa fa-google"></span></a>
        <a target="_BLANK" class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/search/results/companies/v2/?keywords={{fields.denomination}}">
        <span class="fa fa-linkedin"></span></a>
        <a target="_BLANK" class="btn btn-social-icon btn-twitter" href="https://twitter.com/search?f=users&vertical=default&q={{fields.denomination}}">
        <span class="fa fa-twitter"></span></a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>


