<div style="background-color: #efedff;">
<button type="button" class="excel btn btn-primary">Export Excel</button>
<a href="/criteria-search/export" class="badge badge-primary">Export Excel link</a>

<div class="container">
<div class="table-responsive-sm">
<table id="dtBasicExample" width="100%" class="table table-hover table-sm w-auto" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th>#
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Siren
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Code APE
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Nom de l'entreprise
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Région
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Département
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      </th>
      <th class="th-sm">CA 2016 (€)
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">CA 2017 (€)
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Effectifs 2016
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Effectifs 2017
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      </th>
      <th class="th-sm">Actions
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
    </tr>
  </thead>

  <tbody>
    {{#each displayResults}}
    <tr>
      <td scope="row"></td>
      <td>{{siren}}</td>
      <td>{{fields.code_ape}}</td>
      <td>{{fields.denomination}}</td>
      <td>{{fields.region}}</td>
      <td>{{fields.num_dept}}</td>
      <td>{{ca2016}}</td>
      <td>{{ca2017}}</td>
      <td>{{effectif_2}}</td>
      <td>{{effectif_1}}</td>
      <td>
        <a target="_BLANK" style="margin-bottom:4px;" class="btn btn-primary btn-social-icon" href="{{fields.fiche_identite}}">
        <i class="fas fa-info"></i></a>

        <a target="_BLANK" style="margin-bottom:4px;" class="btn btn-social-icon btn-google" href="https://www.google.com/search?q={{fields.denomination}}">
        <span class="fa fa-google"></span></a>

        <a target="_BLANK" style="margin-bottom:4px;" class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/search/results/companies/v2/?keywords={{fields.denomination}}">
        <span class="fa fa-linkedin"></span></a>

        <a target="_BLANK" style="margin-bottom:4px;" class="btn btn-social-icon btn-twitter" href="https://twitter.com/search?f=users&vertical=default&q={{fields.denomination}}">
        <span class="fa fa-twitter"></span></a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
</div>
</div>